hr.rounded {
  border-top: 8px solid rgba(255, 0, 0, 0.534);
  border-radius: 5px;
}
.page-header{
  text-align: center;
}
hr .cl{
  border-top: 8px solid greenyellow !important;
}
.labels p{
  font-size: 15px;
}